@{
    ViewData["Title"] = "Přihlásit se";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 data-aos="fade-up">Příhlásit se</h1>

@Html.ValidationSummary(true, "Opravte prosím následující chyby:", new { @class = "text-danger" })
@using (Html.BeginForm("Login", "Account", FormMethod.Post)) 
{
    <div class="form-group col-md-4" data-aos="fade-up">
        <label>Uživatelské jméno</label>
        <input type="text" class="form-control" name="Username" />
        
    </div>

    <div class="form-group col-md-4" data-aos="fade-up">
        <label>Heslo</label>
        <input type="password" class="form-control" name="Password" />
    </div>
    <br />
    <button type="submit" class="btn btn-secondary" data-aos="fade-up">Přihlásit se</button>
}

<script>
    // Inicializace AOS s vlastním nastavením
    document.addEventListener('DOMContentLoaded', function () {
        AOS.init({
            offset: 120,
            delay: 50,
            duration: 300,
            easing: 'ease-in-out',
            once: false,
            mirror: false
        });
    });
</script>
