@{
    ViewData["Title"] = "Kontakt";
}
<h1 class="text-center">Kontakt</h1>

<br />

<div class="row">
    <div class="col text-center">
        <h4>Česká federace kempo a kajukenbo</h4>
        <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-telephone-fill"></i> Telefon</h5>
                <a href="tel:+420 720 320 056">+420 720 320 056</a>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-envelope-fill"></i> Email</h5>
                <a href="mailto:info@czechkempo.cz">info@czechkempo.cz</a>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-geo-alt-fill"></i> Lokace</h5>
                <a href="https://www.google.com/maps/place/Nov%C3%A9+sady+988%2F2,+602+00+Brno-st%C5%99ed">Brno Nové sady 988/2</a>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-geo-alt-fill"></i> Lokace</h5>
                <a href="https://www.google.com/maps/place/Nov%C3%A9+sady+988%2F2,+602+00+Brno-st%C5%99ed">Brno Nové sady 988/2</a>
            </div>
        </div>
    </div>

    <div class="col text-center">
        <h4>Akademie Obrany</h4>
        <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-telephone-fill"></i> Telefon</h5>
                <a href="tel:+420 720 320 056">+420 720 320 056</a>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-envelope-fill"></i> Email</h5>
                <a href="mailto:nemec@kajukenbo.cz">nemec@kajukenbo.cz</a>
            </div>
        </div>

    </div>
</div>
