@{
    ViewData["Title"] = "Federace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Federace Czech Kempo and Kajukenbo <img class="img-fluid" src="~/img/Czech_kempo_Logo.png" style="width: 60px; height: auto" /></h1>

<div class="rectangle-container">
    <h5><i class="bi bi-search"></i> Kdo jsme?</h5>
    <p>
        České Kempo je zcela nový projekt, jehož hlavním cílem je <b>sdružení sportovních klubů a organizací s jasným poselstvím:</b> získat uznání kempa jako olympijského sportu, jak na české, tak i mezinárodní úrovni. Projekt je podporován prestižními mezinárodními organizacemi, jako jsou International Kempo Federation (IKF) a United World Sports Kempo Federation (UWSKF), jejichž jsme součástí. Tento projekt vznikl jako odpověď na rostoucí potřebu zastřešení a spolupráce mezi kluby, které sdílejí společnou vizi budoucnosti kempa.
    </p>
    <h5><i class="bi bi-people-fill"></i> Kdo se může přidat?</h5>
    <p>
        Projekt Czech Kempo není exkluzivní pouze pro Nippon Kempo, ale <b>je otevřený všem bojovým sportům, které sdílí společnou vizi rozvoje</b> , spolupráce a dosažení mezinárodního uznání.MMA, BJJ, kickbox, Muay Thai a další disciplíny mohou být nedílnou součástí této iniciativy a těžit z přístupu k mezinárodní komunitě, finanční podpoře a společným akcím.
    </p>
    <h5><i class="bi bi-award-fill"></i> Co je naším cílem?</h5>
    <p>
        Cílem Czech Kempo je <b>vytvořit jednotnou a silnou platformu</b>, která podpoří růst všech bojových sportů v České republice a poskytne jim možnost zářit na světové scéně. Společně jsme silnější – ať už reprezentujeme tradici nebo moderní bojové sporty!
    </p>
    <h5><i class="bi bi-person-arms-up"></i> Co je důležité zdůraznit?</h5>
    <p>
        Je důležité zdůraznit, že <b>Czech Kempo v žádném případě nezasahuje do současné struktury, organizace či systému klubů a škol</b> sebeobranných a bojových stylů. Respektujeme autonomii každé organizace i jejich způsob výuky a činnosti. Naším cílem je nabídnout možnosti spolupráce, rozvoje a podpory, nikoli měnit či ovlivňovat to, co už funguje.
    </p>
    <h5><i class="bi bi-trophy-fill"></i> Jsme tu pro vás!</h5>
    <p>
        <b>Czech Kempo je tu jako partner, který podporuje rozvoj bojových umění a sebeobranných stylů</b> na základě sdílených hodnot a cílů. Kluby a školy si nadále zachovají svou identitu a samostatnost, zatímco členství v Czech Kempo jim poskytne přidanou hodnotu a nové příležitosti.
    </p>
</div>

<style>

    }
    .rectangle-container p {
        margin: 10px 0;
    }
</style>
