@{
    ViewData["Title"] = "Kajukenbo";
}
<h1 class="text-center">Bojové umění Kajukenbo <img class="img-fluid" src="~/img/logo_kajukenbo.png" style="width: 80px; height: 80px"/></h1>

<div class="rectangle-container">
    <h5><i class="bi bi-yin-yang"></i> Co je kajukenbo?</h5>
    <p>
        Kajukenbo je hybridní bojové umění pocházející z Havajských ostrovů a vyniká svými technikami, které jsou maximálně účinné při sebeobraně.
    </p>
    <div class="text-center">
        <img  class="img-fluid"src="~/img/kajukenbo_vyznam.png" style="width: 1000px; height: auto;" />
    </div>
    <br />
    <h5><i class="bi bi-geo-alt-fill"></i> Kajukenbo v české republice</h5>
    <p>
        V letech 2013 a 2014 se pod vedením Ivana Spišiaka začali Kajukenbu věnovat první zájemci z České republiky. Byly pořádány první semináře s cílem rozvinout Kajukenbo i v České republice. V následujících letech získávali jednotliví zájemci pod vedením profesora Ivana Spišiaka, který získal 8 dan. zkušenosti v Kajukenbo.
    </p>
    
</div>

<style>
    .rectangle-container p {
        margin: 10px 0;
    }
</style>
