html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0C0C0C;
}

h1, h2, h3, h4, h5, h6{
    color: #ffd32c;
}
.hero {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

a,p, table, label{
    color: white;
}

    a:hover {
        color: #ffd32c;
    }

.navbar {
    border-bottom: none !important;
    box-shadow: 0 3px 5px rgba(50, 50, 50, 1) !important; 
}

.custom-nav-tabs .nav-link {
    background-color: #0C0C0C; 
    color: #f8f9fa; 
    border: 0.5px solid #f8f9fa; 
    transition: background-color 0.3s, color 0.3s;
}

    .custom-nav-tabs .nav-link:hover {
        color: #ffd32c; 
        border-color: #ffd32c; 
        border-width: 1px; 
    }

    .custom-nav-tabs .nav-link.active {
        background-color: transparent; 
        color: #f8f9fa;
        border-color: #ffd32c; 
        border-width: 1px; 
        border-style: solid; 
    }

.menu-navbar .nav-link:hover {
    color: #ffd32c !important;
}

.menu-navbar .nav-link.active {
    color: #ffd32c !important;
}

.menu-navbar .nav-link {
    transition: color 0.3s ease;
}


.menu-navbar .dropdown-menu .dropdown-item {
    transition: color 0.3s ease;
}

    
    .menu-navbar .dropdown-menu .dropdown-item:hover {
        color: #ffd32c !important; 
        background-color: transparent !important; 
    }

.menu-navbar .dropdown-toggle:hover {
    color: #ffd32c !important; 
    background-color: transparent !important; 
}

.article-image {
    width: 100%;
    height: auto;
    max-width: 700px;
    object-fit: cover;
    border-radius: 8px;
}


.custom-carousel {
    max-width: 100%; 
    max-height: 500px; 
    margin: 0 auto; 
    overflow: hidden; 
}

    
    .custom-carousel .carousel-inner img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }

@media (max-width: 768px) {
    .custom-carousel {
        max-width: 100%; 
        max-height: 250px; 
    }
}

#summernote-editor {
    background-color: #000000 !important; 
    color: #ffffff !important; 
}
